/*Author: Alessandro Arosio
Javascript FMA
Tutor: Tobi Brodie*/

/* Reset everything to default */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background: #cccccc url("images/background.jpg"); /* this image has been taken from Google. All rights reserved */
    font-family: 'Source Code Pro', sans-serif;
    margin: auto;
    padding: 2rem;
}

#diabetes {
    background-color: #a3331a;
    opacity: 0.90;
    padding: 2.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

h1 {
    color: #ce3d33;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 730px;
}

li{
    display: inline-block;
    padding: 2rem;
}

legend {
    float: left;
    padding: 2rem;
    width: 338px;
}

#diabetes input[type="button"]{
    padding: 0.7rem;
    border-radius: 8px;
    border: 1px solid black;
}

.resultBox {
    background-color: #cc8d18;
    opacity: 0.88;
    padding: 2.5rem;
    margin-top: 1rem;
    font-weight: bold;
}
