/*Author: Alessandro Arosio
Javascript FMA
Tutor: Tobi Brodie*/

/* Reset everything to default */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background: #cccccc url("images/background.jpg"); /* this image has been taken from Google. All rights reserved */
    font-family: 'Source Code Pro', sans-serif;
    margin: auto;
    padding: 2rem;
}

#diabetes {
    background-color: #a3331a;
    opacity: 0.90;
    padding: 2.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

h1 {
    color: #ce3d33;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 730px;
}

li{
    display: inline-block;
    padding: 2rem;
}

legend {
    float: left;
    padding: 2rem;
    width: 338px;
}

#diabetes input[type="submit"]{
    padding: 0.7rem;
    border-radius: 8px;
    border: 1px solid black;
    margin: 2rem;
}

.resultBox {
    background-color: #cc8d18;
    opacity: 0.88;
    padding: 2.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

#errorMessage {
    margin-left: 10px;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.defaultText {
    color: gray;
    font-style: italic;
}

/*CONTACT FORM*/

#contactForm {
    background-image: linear-gradient(to right, lightgray 10%, transparent 100%);
    margin: 10rem;
    clear: both;
}

#contactForm legend {
    width: 200px;
    margin: 0;
    padding: 0rem;
}

#contactForm fieldset{
    margin: 0.5rem;
    padding: 1rem;
}

#contactForm input[type="submit"]{
    margin: 2rem;
    padding: 0.4rem;
    border-radius: 4px;
    border: 1px solid black;
}

.errorMessage {
    display: inline-block;
    margin-left: 10px;
    color: #bc251e;
    font-weight: bold;
}

.questionMark {
    background: url("images/questionmark.jpg") no-repeat left;
    float: bottom;
    padding: 1rem;
    background-size: 30px;
    position: relative;
    max-width: 5px;
    margin-bottom: -20px;
    margin-left: 23px;
}

.tooltip {
    display: inline-block;
    float: left;
    margin-left: 60px;
    background-color: #187ab2;
    opacity: 0.70;
    font-weight: bold;
    font-style: italic;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

#contactForm .hidden {
    display: none;
}

#mandatory {
    margin-left: 3rem;
    margin-top: 1rem;
    font-weight: bold;
}
